<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <title>Survey Form</title>
</head>
<body style="padding: 100px;">
    <div class="container text-center" style="margin-top: 10%;">
        <div class="row">
            <div class="col-sm">
                <button id="red" class="btn btn-block mt-5" style="background-color: red;"><p class="display-4">Red</p></button>
            </div>
            <div class="col-sm">
                <button id="yellow" class="btn btn-block mt-5" style="background-color: yellow;"><p class="display-4">Yellow</p></button>
            </div>
            <div class="col-sm">
                <button id="green" class="btn btn-block mt-5" style="background-color: green;"><p class="display-4">Green</p></button>
            </div>
        </div>
    </div>

</div>
<script src="app.js"></script>
</body>
</html>